<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
             <tr>
                 <td class="label">Search Region</td><td>: <input type="text" id="region"></td>
             </tr>
             <td>
                 <a class="a-inside search"
                    href="" onclick="this.href='../countries/search/'+document.getElementById('region').value">Search</a>
             </td>
         </div>
         <div class="data-btn">
           <button onClick="addCountry();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>Population</th>
                    <th width="120px">Action</th>
                </tr>
               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].country%></td>
                    <td><%=data[i].region%></td>
                    <td><%=data[i].population%></td>
                    <td>
                        <a class="a-inside edit" href="../countries/edit/<%=data[i].country%>">Edit</a>
                       
                        <a class="a-inside delete" href="../countries/delete/<%=data[i].country%>">Delete</a>
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="6">No data available</td>
                 </tr>
            <% } %>
                
            </table>
         </div>
        </div>
        <br>
        <div>
          <a class="a-inside btn" href="/">Back to home page</a>
        </div>
        
<%- include layouts/footer.ejs %>
